<a href="https://colab.research.google.com/github/xecuter61/odissey/blob/master/Copie_de_Python_and_dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mission 1

Below is a dictionary containing the number of French campuses that offer each kind of Wild Code School course.

wildcodeschool = {
   "data_analyst": 4,
   "data_scientist": 2,
   "dev_web": "13" 
}

Find a way to display the keys that have int values.

In [ ]:
wildcodeschool =	{
  "data_analyst": 4,
  "data_scientist": 2,
  "dev_web": "13"
}

In [ ]:
wildcodeschool =	{
  "data_analyst": 4,
  "data_scientist": 2,
  "dev_web": "13"
}
for integer in wildcodeschool.values():
    if type(integer) == str:
        continue
    else:
        print(integer)

# Mission 2

For the same dictionary, find a way to display all the values that have a key that contains the letter "e".

In [ ]:
wildcodeschool =	{
  "data_analyst": 4,
  "data_scientist": 2,
  "dev_web": "13"
}

for cle in wildcodeschool.keys():
    if "e" in cle:
        print(cle)
    else:
        continue

data_scientist
dev_web

# Mission 3

Within the same dictionary, change the type of the value of the "dev_web" key to be an int. Then add a new key-value pair which will be "total_campus" > 19, using a **dictionary method**.

In [ ]:
wildcodeschool =	{
  "data_analyst": 4,
  "data_scientist": 2,
  "dev_web": "13"
}

wildcodeschool.update({"dev_web" : int("13")})
wildcodeschool["total_ campus"] = 9

print(wildcodeschool)

{'data_analyst': 4, 'data_scientist': 2, 'dev_web': 13, 'total_ campus': 9}

# Mission 4

Take the dictionary generated from mission 3. Delete any key value pair randomly, except for total_campus.

In [ ]:
import random

wildcodeschool =	{
  "data_analyst": 4,
  "data_scientist": 2,
  "dev_web": "13",
  "total_campus" : 9
}
test = 0

while test < 1:
    cle = random.choice(list(wildcodeschool.keys()))
    while cle == wildcodeschool["total_campus"]:
        cle = random.choice(list(wildcodeschool.keys()))
    test += 1
    wildcodeschool.pop(cle)

print(wildcodeschool)

{'data_scientist': 2, 'dev_web': '13', 'total_campus': 9}

# Mission 5

Still within the dictionary generated from Mission 3, find a way to display the dictionary keys in alphabetical order.

In [ ]:
wildcodeschool =	{
  "data_analyst": 4,
  "data_scientist": 2,
  "dev_web": "13"
}

sorted(wildcodeschool.keys())

print(wildcodeschool)

# Mission 6

Create a function that returns the same output as the **values()** method.

In [ ]:
wildcodeschool =	{
  "data_analyst": 4,
  "data_scientist": 2,
  "dev_web": "13"
}


def tri_valeurs():
    for key, values in wildcodeschool.items():
        print(values)

tri_valeurs()