<a href="https://colab.research.google.com/github/xecuter61/odissey/blob/master/Copie_de_Python_and_strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mission 1

Create a function that uses the len method to display the length of the string named: "string" below.

Make the character count returned by your function ignore the number of spaces (without changing the string).

string = "Taumata whakatangihanga koauau o tamatea turi pukaka piki maungah oronuku pokai whenuaki tanatahu "

In [1]:
string = "Taumata whakatangihanga koauau o tamatea turi pukaka piki maungah oronuku pokai whenuaki tanatahu "

def Mission1(string):
    string = string.split()
    string = "".join(string)
    print(len(string))

m = Mission1(string)

85

# Mission 2

Create a function that takes a string as one parameter and a character as another parameter. The function should return the position (starting with 1 and not 0) of all occurrences of the character within the string.

For example, for the word "hello" and for the character "o", the function will return :
- "position : 5"

In [2]:
string = "hello world"

def Mission2(string):
    index = 0
    for i in string:
        index += 1
        if i == "o":
            print(f"position : {index}")
Mission2(string)

position : 5
position : 8

# Mission 3

Create a function that only displays characters from one position to another position. In other words, make it so that you are able to decide the exact character range to be displayed.

In [3]:
def Mission3(string, r1, r2):
    print(string[r1 : r2])

m = Mission3("hello", 0, 3)

hel

# Mission 4

Find 3 ways to return the following string without including the spaces at the beginning and the end (without changing the string): " Data Analyst ".

# Mission 5

Create a function that converts all vowels to uppercase and all consonants to lowercase.

In [12]:
string = " Data Analyst "

def Mission4(string):
    print(string.strip())
    

def Mission4_3(string):
    string = string.replace(" D", "D")
    string = string.replace("t ", "t")
    print(string)
    
 
def Mission4_2(string):
    print(string[1:-1])

Mission4(string)
Mission4_2(string)
Mission4_3(string)

Data Analyst
Data Analyst
Data Analyst

In [ ]:
string = "HeLLo WoRLD"
vowels = ("a", "e", "i", "o", "u", "y")
#nstring = ""

def Mission5(string,vowels):
    #string = list(string)
    nstring = ""
    for i in string:
        if i in vowels:
            i = i.upper()
            nstring += i
        elif i not in vowels:
            i = i.lower()
            nstring += i
    return nstring

m = print(Mission5(string, vowels))

# Mission 6

Create a function that replaces one character with another and redisplays the modified string.

In [ ]:
string = "hello word"

def fonction6(string)
print(string.replace("h", "y"))